/* styles.css */
@font-face {
    font-family: 'Mahoda Display';
    src: url('../../fonts/mahoda_display/Mahoda\ Display\ Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Coolvetica';
    src: url('../../fonts/coolvetica/coolvetica\ rg.otf') format('opentype');
}

body {
    font-family: 'Coolvetica', Arial, sans-serif;
    background-color: #fff5d6;
    color: #333;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 10px 0 20px;
    text-align: center;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-text {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}

.logo {
    height: 90px;
    width: auto;
    margin-top: -20px;
}

.title-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.volley, .vibe {
    font-family: 'Mahoda Display', sans-serif;
    color: #e7552b;
    font-size: 48px;
    line-height: 1;
}

.nav-left, .nav-right {
    display: flex;
    margin-top: -10px;
    gap: 20px;
}

.nav-left {
    position: absolute;
    left: 0;
}

.nav-right {
    position: absolute;
    right: 0;
}

.nav-left a, .nav-right a {
    text-decoration: none;
    color: #E7552B;
    font-family: 'Coolvetica', Arial, sans-serif;
    font-size: 20px;
    padding: 5px 20px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-left a.active, .nav-right a.active {
    background-color: #E7552B;
    color: #fff5d6;
    border-radius: 20px;
}

.nav-left a.active:hover, .nav-right a.active:hover {
    background-color: #e03e00;
}

h1, h2, h3 {
    font-family: 'Mahoda Display', 'Coolvetica', sans-serif;
    color: #E7552B;
    margin-bottom: 20px;
}

button {
    background-color: #E7552B;
    color: #fff5d6;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Coolvetica', Arial, sans-serif;
    margin: 10px 0;
}

button:hover {
    background-color: #e03e00;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 2px solid #E7552B;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #E7552B;
    color: #fff5d6;
    cursor: pointer;
}

footer {
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

footer img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

form {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 10px;
}

input[type="text"], input[type="number"], input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

li button {
    margin-left: 10px;
}

/* Additional Styles for MatchManagement */
.teams {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.team {
    width: 45%;
    padding: 15px;
    border: 1px solid #E7552B;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team h3 {
    font-family: 'Mahoda Display', sans-serif;
    color: #e7552b;
    font-size: 24px;
    margin-bottom: 10px;
}

.match-details {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.match-details input,
.match-details button,
.match-details select {
    flex: 1;
    min-width: 120px;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid #E7552B;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'Coolvetica', Arial, sans-serif;
    color: #333;
    appearance: none;
}

.match-details select option:first-child {
    color: gray;
}

.match-details input::placeholder,
.match-details select {
    color: gray;
    font-weight: normal;
}

.match-details button {
    background-color: #E7552B;
    color: #fff5d6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.match-details button:hover {
    background-color: #e03e00;
}

.match-details select {
    height: 42px;
}

.filter-container {
    margin-top: 40px;
}

.filter-container input {
    flex: 1;
    min-width: 120px;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid #E7552B;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'Coolvetica', Arial, sans-serif;
    color: #333;
    appearance: none;
}

.sort-indicator {
    font-size: 12px;
    margin-left: 5px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -50px;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: #fff5d6;
    z-index: 2;
}

.table-header h2 {
    margin: 0;
    font-size: 24px;
    color: #E7552B;
}

.search-icon {
    cursor: pointer;
    font-size: 24px;
}

.search-container {
    display: inline-block;
    margin-left: 20px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.search-container.visible {
    height: auto;
    padding-top: 0;
    margin-bottom: -10px;
}

.search-container.hidden {
    height: 0;
    padding-top: 0;
}

.search-container input {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #E7552B;
}

.sticky-header th {
    position: sticky;
    background-color: #E7552B;
    z-index: 1;
}

.playerlist {
    margin-top: -20px;
}

.leaderlist {
    margin-top: -20px;
}

input[type="checkbox"]:disabled + label {
    color: #999;
    cursor: not-allowed;
    text-decoration: line-through;
}

/* Grid layout for matches */
.match-grid {
    display: grid;
    gap: 20px;

}

.match-card {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border: 1px solid #E7552B;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.match-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-color: #E7552B;
}

.match-card div {
    margin-bottom: 10px;
}

.match-card button {
    background-color: #E7552B;
    color: #fff5d6;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.match-card button:hover {
    background-color: #e03e00;
}

/* Modal Styles */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #FFFBEF;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-title {
    color: #e7552b;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.modal-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.team-column {
    width: 45%;
}

.team-column.winner h3,
.team-column.winner p {
    color: #e7552b;
}

.team-column.loser h3,
.team-column.loser p {
    color: #000;
}

.team-column h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.team-color p {
    margin: 5px 0;
}

.score {
    font-size: 36px;
    font-weight: bold;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    margin: 0 20px;
}

.triangle-right {
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #e7552b;
}

.triangle-left {
    border-width: 10px 20px 10px 0;
    border-color: transparent #E7552B transparent transparent;
}

.modal-footer {
    text-align: center;
}

.modal-footer p {
    margin: 5px 0;
}

.match-title {
    font-family: 'Mahoda Display', sans-serif;
    color: #e7552b;
    font-size: 48px;
    line-height: 1;
    margin-top: 40px
}

/* Sidebar styles */
.match-management {
    display: flex;
}

/* Updated styles for FilterBar */
.filter-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #E7552B;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0px;
    margin-bottom: 20px;
}

.date-input {
    height: 36px; /* Match the height of the dropdown buttons */
    width: 150px; /* Increase the width to prevent text cutoff */
    padding: 0 10px; /* Adjust padding as needed */
    font-size: 16px; /* Ensure the font size matches the dropdown buttons */
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0; /* Adjust margin to ensure proper spacing */
    color: #E7552B; /* Ensure the text color matches other filters */
    background-color: #fff5d6; /* Ensure the background color matches other filters */
}

.date-input:hover {
    background-color: #E7552B; /* Ensure the background color matches the hover state of other filters */
    color: #fff5d6; /* Ensure the text color matches the hover state of other filters */
    border: 2px solid #fff5d6; /* Ensure the border color matches the hover state of other filters */
}

.date-header {
    color: #E7552B;
    font-family: 'Coolvetica', Arial, sans-serif;
    margin-bottom: 5px;
    font-size: 18px;
}

.filter-date input::placeholder {
    color: #E7552B; /* Ensure the placeholder text color matches other filters */
}

.filter-group {
    display: flex;
    align-items: center;
}

.filter-group .dropdown,
.filter-group .filter-date {
    margin-right: 10px; /* Adjust spacing between filters as needed */
}

.filter-date input {
    margin: 0px;
    margin-right: 0px;
    height: 50px;
    width: 110px;
    background-color: #fff5d6;
    color: #E7552B;
    font-size: 14px;
    border: 2px solid #fff5d6;
}

.filter-date input:hover{
    background-color: #E7552B;
    color: rgb(255, 255, 255);
    border: 2px solid #fff5d6;
}

.filter-date input::placeholder {
    color: #E7552B; /* Ensure the placeholder text color matches other filters */
}

.reset-button {
    background-color: #fff5d6;
    color: #E7552B;
    border: 2px solid #fff5d6;
    transition: background-color 0.3s;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin: 2px;
}

.reset-button:hover {
    background-color: #E7552B;
    color: #fff5d6;
    border: 2px solid #fff5d6;
}

.filter-count {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7552B;
    color: #fff5d6;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 34px;
    border: none;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-left: 10px;
}

.filter-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    margin-left: auto;
}

.date-group {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    margin-left: -10px;
}

.filter-summary {
    position: absolute;
    top: 50px; /* Adjusted from 100% for better positioning */
    right: 0;
    background-color: #fff5d6;
    border: 1px solid #E7552B;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
    transform: translateX(-50px); /* Shifted to the left */
}

.filter-summary ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.filter-summary li {
    padding: 5px 0;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 2px solid #fff5d6;
    border-radius: 5px;
    background-color: #fff5d6;
    font-family: 'Coolvetica', Arial, sans-serif;
    color: #E7552B;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-button:hover{
    background-color: #E7552B;
    color: #fff5d6;
    border: 2px solid #fff5d6;
}

.dropdown-content {
    min-width: 100%; /* Ensure it at least covers the button width */
    width: auto; /* Allow it to expand based on the content */
    white-space: nowrap; /* Ensure names take up only one line */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis if the text overflows */
    background-color: #fff5d6; /* Background color to match your design */
    border: 1px solid #E7552B; /* Border color to match your design */
    border-radius: 5px; /* Border radius to match your design */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for dropdown */
    position: absolute; /* Positioning for dropdown */
    z-index: 1; /* Ensure it appears above other elements */
}

.dropdown-content label {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-content input[type="checkbox"] {
    margin-right: 10px;
}

.dropdown-content label:hover {
    background-color: #E7552B;
    color: #fff5d6;
}

/* Active filter styles */
.dropdown.active .dropdown-button,
.filter-date.active input {
    background-color: #E7552B;
    color: white;
}


.content {
    margin-left: 25%;
    padding: 20px;
    width: 75%;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .teams {
        flex-direction: column;
    }

    .team {
        width: 100%;
        margin-bottom: 20px;
    }

    .match-details {
        flex-direction: column;
    }

    .match-details input,
    .match-details button,
    .match-details select {
        width: 100%;
    }

    .filter-bar {
        width: 100%;
        position: static;
        height: auto;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }
}
